/* DEFS BEGIN */

@font-face
{
    font-family : "Orkney";
    src         : url(../fonts/Orkney-Medium.otf);
}

@font-face
{
    font-family : "Orkney";
    font-weight : bold;
    src         : url(../fonts/Orkney-Bold.otf);
}

#defs
{
    position : absolute;
    height   : 0;
    width    : 0;
    overflow : hidden;
    left     : -100%;
}

@keyframes rainbow
{
    0%
    {
        color : #ff0000;
    }
    16.7%
    {
        color : #ffff00;
    }
    33.3%
    {
        color : #00ff00;
    }
    50%
    {
        color : #00ffff;
    }
    66.7%
    {
        color : #0000ff;
    }
    83.3%
    {
        color : #ff00ff;
    }
    100%
    {
        color : #ff0000;
    }
}

@keyframes highlight
{
    0%
    {
        background : hsl(210, 80%, 20%);
    }
    50%
    {
        background : hsl(210, 80%, 40%);
    }
    100%
    {
        background : hsl(210, 80%, 20%);
    }
}

/* DEFS END */

/* COLOURS START *

White (light foreground)
hsl(0, 0%, 100%)

Off-white (light background)
hsl(0, 0%, 90%)

Gray (light accent)
hsl(0, 0%, 80%)

Dark Gray (soft font colour)
hsl(0, 0%, 40%)

Off-black (dark accent)
hsl(0, 0%, 20%)

Black (dark background)
hsl(0, 0%, 10%)

Main Blue
hsl(210, 80%, 40%)

Light Accent Blue
hsl(210, 80%, 60%)

Dark Accent Blue
hsl(210, 80%, 20%)

 * COLOURS END */

/* GENERIC START */

*, p, h1, h2, h3, h4, h5, h6
{
    margin      : 0;
    padding     : 0;
    border      : 0;
    font-weight : normal;
}

p
{
    font-size   : 12pt;
    line-height : calc(12pt * 1.5);
}

h1
{
    font-size   : 24pt;
    line-height : calc(24pt * 1.5);
}

h2
{
    font-size   : 20pt;
    line-height : calc(20pt * 1.5);
}

@media screen and (min-resolution : 150dpi)
{
    p
    {
        font-size   : 16pt;
        line-height : calc(16pt * 1.5);
    }

    h1
    {
        font-size   : 28pt;
        line-height : calc(28pt * 1.5);
    }

    h2
    {
        font-size   : 24pt;
        line-height : calc(24pt * 1.5);
    }
}

@media screen and (min-resolution : 300dpi)
{
    p
    {
        font-size   : 20pt;
        line-height : calc(20pt * 1.5);
    }

    h1
    {
        font-size   : 32pt;
        line-height : calc(32pt * 1.5);
    }

    h2
    {
        font-size   : 28pt;
        line-height : calc(28pt * 1.5);
    }
}

*
{
    position           : relative;
    color              : hsl(0, 0%, 40%);
    font-family        : "Orkney", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

a
{
    text-decoration : none;
}

li
{
    list-style : none;
}

select
{
    cursor : pointer;
}

span
{
    color     : inherit;
    font-size : inherit;
}

/* GENERIC END */

/* HEADER START */

header
{
    height        : 10vh;
    width         : 100%;
    z-index       : 1337;
    background    : hsl(0, 0%, 10%);
    border-bottom : hsl(0, 0%, 20%) 5pt solid;
}

header *
{
    color : hsl(0, 0%, 100%);
}

header img
{
    top    : 10%;
    height : 80%;
    margin : 0 10pt;
}

/* HEADER END */

/* BODY START */

body
{
    background : hsl(0, 0%, 90%);
    background : url("../img/BG-Tile.png") repeat top;
}

#content
{

}

#fixed-width
{
    max-width : 1200px;
    margin    : 0 auto;
}

span.rainbow
{
    -webkit-animation : rainbow linear 4s infinite;
    -o-animation      : rainbow linear 4s infinite;
    animation         : rainbow linear 4s infinite;
}

span.highlight
{
    color : hsl(210, 80%, 40%);
}

span.highlight-light
{
    color : hsl(210, 80%, 60%);
}

span.highlight-dark
{
    color : hsl(210, 80%, 20%);
}

.button
{
    width                 : 100%;
    text-decoration       : none;
    text-align            : center;
    background            : hsl(210, 80%, 20%);
    padding               : 5pt;
    -webkit-border-radius : 5pt;
    -moz-border-radius    : 5pt;
    border-radius         : 5pt;
    cursor                : pointer;
}

.button *
{
    color : hsl(0, 0%, 100%);
}

.button:hover
{
    background : hsl(210, 80%, 40%);
}

@media screen and (max-aspect-ratio : 1/1)
{
    #skills-aside
    {
        display : none;
    }
}

/* BODY END */

/* BANNER START */

#banner
{
    height        : 40vh;
    overflow      : hidden;
    border-bottom : hsl(210, 80%, 40%) 5pt solid;
    background    : hsl(210, 80%, 60%);

}

#banner, #banner *
{
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

#banner #banner-top
{
    position           : absolute;
    top                : 0;
    left               : 0;
    right              : 0;
    height             : 100%;
    width              : 100%;
    -webkit-transition : top 0.5s;
    -moz-transition    : top 0.5s;
    -ms-transition     : top 0.5s;
    -o-transition      : top 0.5s;
    transition         : top 0.5s;
}

#banner .banner-text
{
    position           : absolute;
    width              : 100%;
    text-align         : center;
    color              : hsl(0, 0%, 100%);
    -webkit-transform  : translateY(-50%);
    -moz-transform     : translateY(-50%);
    -ms-transform      : translateY(-50%);
    -o-transform       : translateY(-50%);
    transform          : translateY(-50%);
    -webkit-transition : opacity 0.5s;
    -moz-transition    : opacity 0.5s;
    -ms-transition     : opacity 0.5s;
    -o-transition      : opacity 0.5s;
    transition         : opacity 0.5s;
}

/* BANNER END */

/* SECTIONS START */

section
{
    width    : 100%;
    padding  : 40pt 0;
    clear    : both;
    overflow : auto;
}

section:not(:first-of-type)
{
    border-top : hsl(0, 0%, 80%) 5pt solid;
}

section > div
{
    float      : left;
    display    : inline-block;
    min-height : 1px;
    padding    : 20pt;
}

section > .section-part-1
{
    width : 25%;
}

section > .section-part-2
{
    width : 50%;
}

section > .section-part-3
{
    width : 75%;
}

section > .section-part-4
{
    width : 100%;
}

section > .section-heading
{
    padding-left : 40pt;
}

section > .section-heading > h1
{
    width        : 100%;
    color        : hsl(210, 80%, 20%);
    text-align   : right;
    font-variant : small-caps;
}

section .section-content
{
    text-align    : justify;
    padding-right : 40pt;
}

section > .section-content > h2
{
    color         : hsl(210, 80%, 20%);
    margin-bottom : 5pt;
}

/* SECTIONS END */

/* MARQUEES START */

.marquee
{
    border   : hsl(0, 0%, 80%) 5pt solid;
    height   : 80pt;
    width    : 100%;
    overflow : hidden;
}

.marquee, .marquee *, .marquee-tooltip, .marquee-tooltip *
{
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

.marquee-inner
{
    position : absolute;
    top      : 0;
    bottom   : 0;
    height   : 100%;
}

.marquee-item
{
    position          : absolute;
    top               : 50%;
    white-space       : nowrap;
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
    cursor            : help;
}

.marquee-tooltip
{
    height             : 0;
    left               : 0;
    right              : 0;
    background         : hsl(0, 0%, 80%);
    overflow           : hidden;
    -webkit-transition : height 1s;
    -moz-transition    : height 1s;
    -ms-transition     : height 1s;
    -o-transition      : height 1s;
    transition         : height 1s;
}

.marquee-tooltip > p
{
    top               : 50%;
    margin            : 0 10pt;
    text-align        : justify;
    color             : hsl(210, 80%, 20%);
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
}

/* MARQUEES END */

/* CAROUSEL START */

.carousel
{
    border      : hsl(0, 0%, 80%) 5pt solid;
    padding-top : calc(9 / 16 * 100%);
    width       : 100%;
    overflow    : hidden;
}

.carousel .carousel-previous, .carousel .carousel-next
{
    position            : absolute;
    z-index             : 100;
    top                 : 50%;
    width               : 7.5%;
    font-size           : 500%;
    text-align          : center;
    color               : hsl(210, 80%, 20%);
    background          : hsla(0, 0%, 0%, 0.5);
    -webkit-transform   : translateY(-50%);
    -moz-transform      : translateY(-50%);
    -ms-transform       : translateY(-50%);
    -o-transform        : translateY(-50%);
    transform           : translateY(-50%);
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

.carousel .carousel-previous:hover, .carousel .carousel-next:hover
{
    color : hsl(210, 80%, 40%);
}

.carousel .carousel-previous
{
    left : 0;
}

.carousel .carousel-next
{
    right : 0;
}

.carousel .carousel-nav
{
    position            : absolute;
    z-index             : 100;
    left                : 0;
    right               : 0;
    bottom              : 0;
    background          : hsla(0, 0%, 0%, 0.5);
    text-align          : center;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    cursor              : default;
}

.carousel .carousel-nav-page
{
    display   : inline-block;
    margin    : 0;
    padding   : 0 1.25%;
    color     : hsl(0, 0%, 80%);
    font-size : 300%;
    cursor    : pointer;
}

.carousel .carousel-nav-page.carousel-nav-page-active
{
    color : hsl(210, 80%, 20%);
}

.carousel .carousel-nav-page:hover
{
    color : hsl(210, 80%, 40%);
}

.carousel .carousel-content
{
    position : absolute;
    left     : 0;
    right    : 0;
    top      : 0;
    bottom   : 0;
}

.carousel .carousel-left
{
    position           : absolute;
    left               : 0;
    width              : 100%;
    height             : 100%;
    -webkit-transition : left 0.5s;
    -moz-transition    : left 0.5s;
    -ms-transition     : left 0.5s;
    -o-transition      : left 0.5s;
    transition         : left 0.5s;
}

.carousel .carousel-item
{
    position : absolute;
    display  : block;
    width    : 100%;
    top      : 0;
    bottom   : 0;
}

.carousel .carousel-item img
{
    width      : 100%;
    height     : 100%;
    object-fit : cover;
}

.carousel-tooltip
{
    left               : 0;
    right              : 0;
    background         : hsl(0, 0%, 80%);
    text-align         : center;
    overflow           : hidden;
    -webkit-transition : height 1s;
    -moz-transition    : height 1s;
    -ms-transition     : height 1s;
    -o-transition      : height 1s;
    transition         : height 1s;
}

.carousel-tooltip > p
{
    margin     : 10pt;
    text-align : justify;
    color      : hsl(210, 80%, 20%);
}

/* CAROUSEL END */

/* FOOTER START */

footer
{
    height     : 40pt;
    width      : 100%;
    background : hsl(0, 0%, 10%);
    border-top : hsl(0, 0%, 20%) 5pt solid;
    margin-top : 20pt;
}

footer *
{
    color : hsl(0, 0%, 100%);
}

footer p
{
    top               : 50%;
    z-index           : 1337;
    text-align        : center;
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
    margin            : 0 10pt;
}

/* FOOTER END */
