/* DEFS BEGIN */

@font-face
{
    font-family : "Orkney";
    src         : url(../fonts/Orkney-Medium.otf);
}

@font-face
{
    font-family : "Orkney";
    font-weight : bold;
    src         : url(../fonts/Orkney-Bold.otf);
}

#defs
{
    position : absolute;
    height   : 0;
    width    : 0;
    overflow : hidden;
    left     : -100%;
}

@keyframes rainbow
{
    0%
    {
        color : #ff0000;
    }
    16.7%
    {
        color : #ffff00;
    }
    33.3%
    {
        color : #00ff00;
    }
    50%
    {
        color : #00ffff;
    }
    66.7%
    {
        color : #0000ff;
    }
    83.3%
    {
        color : #ff00ff;
    }
    100%
    {
        color : #ff0000;
    }
}

@keyframes highlight
{
    0%
    {
        background : hsl(210, 80%, 20%);
    }
    50%
    {
        background : hsl(210, 80%, 40%);
    }
    100%
    {
        background : hsl(210, 80%, 20%);
    }
}

/* DEFS END */

/* COLOURS START *

White (light foreground)
hsl(0, 0%, 100%)

Off-white (light background)
hsl(0, 0%, 90%)

Gray (light accent)
hsl(0, 0%, 80%)

Dark Gray (soft font colour)
hsl(0, 0%, 40%)

Off-black (dark accent)
hsl(0, 0%, 20%)

Black (dark background)
hsl(0, 0%, 10%)

Main Blue
hsl(210, 80%, 40%)

Light Accent Blue
hsl(210, 80%, 60%)

Dark Accent Blue
hsl(210, 80%, 20%)

 * COLOURS END */

/* GENERIC START */

*, p, h1, h2, h3, h4, h5, h6
{
    margin      : 0;
    padding     : 0;
    border      : 0;
    font-weight : normal;
}

p
{
    font-size   : 2vmin;
    line-height : 3vmin;
}

h1
{
    font-size   : 4vmin;
    line-height : 5vmin;
}

h2
{
    font-size   : 2.5vmin;
    line-height : 3.5vmin;
}

@media screen and (min-resolution : 150dpi)
{
    p
    {
        font-size   : 2.5vmin;
        line-height : 3.5vmin;
    }

    h1
    {
        font-size   : 4.5vmin;
        line-height : 5.5vmin;
    }

    h2
    {
        font-size   : 3vmin;
        line-height : 4vmin;
    }
}

@media screen and (min-resolution : 300dpi)
{
    p
    {
        font-size   : 3vmin;
        line-height : 4vmin;
    }

    h1
    {
        font-size   : 5vmin;
        line-height : 6vmin;
    }

    h2
    {
        font-size   : 3.5vmin;
        line-height : 4.5vmin;
    }
}

*
{
    position           : relative;
    color              : hsl(0, 0%, 40%);
    font-family        : "Orkney", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

a
{
    text-decoration : none;
}

li
{
    list-style : none;
}

select
{
    cursor : pointer;
}

span
{
    color     : inherit;
    font-size : inherit;
}

/* GENERIC END */

/* HEADER START */

header
{
    height        : 80px;
    width         : 100%;
    z-index       : 1337;
    background    : hsl(0, 0%, 10%);
    border-bottom : hsl(0, 0%, 20%) 10px solid;
}

header *
{
    color : hsl(0, 0%, 100%);
}

header img
{
    top    : 10%;
    height : 80%;
    margin : 0 10px;
}

/* HEADER END */

/* BODY START */

body
{
    background : hsl(0, 0%, 90%);
    background : url("../img/BG-Tile.png") repeat top;
}

#content
{

}

#fixed-width
{
    max-width : 1200px;
    margin    : 0 auto;
}

span.rainbow
{
    -webkit-animation : rainbow linear 4s infinite;
    -o-animation      : rainbow linear 4s infinite;
    animation         : rainbow linear 4s infinite;
}

span.highlight
{
    color : hsl(210, 80%, 40%);
}

span.highlight-light
{
    color : hsl(210, 80%, 60%);
}

span.highlight-dark
{
    color : hsl(210, 80%, 20%);
}

.button
{
    width                 : 100%;
    text-decoration       : none;
    text-align            : center;
    background            : hsl(210, 80%, 20%);
    padding               : 5px;
    -webkit-border-radius : 2px;
    -moz-border-radius    : 2px;
    border-radius         : 0.5vmin;
    cursor                : pointer;
}

.button *
{
    color                 : hsl(0, 0%, 100%);
}

.button:hover
{
    -webkit-animation : highlight ease-in-out 1s infinite;
    -o-animation      : highlight ease-in-out 1s infinite;
    animation         : highlight ease-in-out 1s infinite;
}

/* BODY END */

/* BANNER START */

#banner
{
    height        : 40vh;
    overflow      : hidden;
    border-bottom : hsl(210, 80%, 40%) 10px solid;
    background    : hsl(210, 80%, 60%);
}

#banner, #banner *
{
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

#banner #banner-top
{
    position           : absolute;
    top                : 0;
    left               : 0;
    right              : 0;
    height             : 100%;
    width              : 100%;
    -webkit-transition : top 0.5s;
    -moz-transition    : top 0.5s;
    -ms-transition     : top 0.5s;
    -o-transition      : top 0.5s;
    transition         : top 0.5s;
}

#banner .banner-text
{
    position           : absolute;
    width              : 100%;
    text-align         : center;
    color              : hsl(0, 0%, 100%);
    -webkit-transform  : translateY(-50%);
    -moz-transform     : translateY(-50%);
    -ms-transform      : translateY(-50%);
    -o-transform       : translateY(-50%);
    transform          : translateY(-50%);
    -webkit-transition : opacity 0.5s;
    -moz-transition    : opacity 0.5s;
    -ms-transition     : opacity 0.5s;
    -o-transition      : opacity 0.5s;
    transition         : opacity 0.5s;
}

/* BANNER END */

/* SECTIONS START */

section
{
    width    : 100%;
    padding  : 40px 0;
    clear    : both;
    overflow : auto;
}

section:not(:first-of-type)
{
    border-top : hsl(0, 0%, 80%) 5px solid;
}

section > div
{
    float      : left;
    display    : inline-block;
    min-height : 1px;
}

section > .section-part-1
{
    width : 25%;
}

section > .section-part-2
{
    width : 50%;
}

section > .section-part-3
{
    width : 75%;
}

section > .section-part-4
{
    width : 100%;
}

section > .section-heading
{
    padding : 0 20px 0 40px;
}

section > .section-heading > h1
{
    top          : 10px;
    width        : 100%;
    color        : hsl(210, 80%, 20%);
    text-align   : right;
    font-variant : small-caps;
}

section .section-content
{
    text-align : justify;
    padding    : 0 40px 0 20px;
}

section > .section-content > h2
{
    color  : hsl(210, 80%, 20%);
    margin : 1.5vmin 0 0.5vmin 0;
}

/* SECTIONS END */

/* SKILLS START */

.marquee
{
    border   : hsl(0, 0%, 80%) 5px solid;
    height   : 10vmin;
    width    : 100%;
    overflow : hidden;
}

.marquee, .marquee *, .marquee-tooltip, .marquee-tooltip *
{
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

.marquee-inner
{
    position : absolute;
    top      : 0;
    bottom   : 0;
    height   : 100%;
}

.marquee-item
{
    position          : absolute;
    top               : 50%;
    white-space       : nowrap;
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
    cursor            : help;
}

.marquee-tooltip
{
    height             : 0;
    left               : 0;
    right              : 0;
    background         : hsl(0, 0%, 80%);
    text-align         : center;
    overflow           : hidden;
    -webkit-transition : height 1s;
    -moz-transition    : height 1s;
    -ms-transition     : height 1s;
    -o-transition      : height 1s;
    transition         : height 1s;
}

.marquee-tooltip > p
{
    top               : 50%;
    margin            : 0 10px;
    text-align        : justify;
    color             : hsl(210, 80%, 20%);
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
}

/* SKILLS END */

/* FOOTER START */

footer
{
    min-height : 40px;
    height     : 5vmin;
    width      : 100%;
    background : hsl(0, 0%, 10%);
    border-top : hsl(0, 0%, 20%) 5px solid;
    margin-top : 5vmin;
}

footer *
{
    color : hsl(0, 0%, 100%);
}

footer p
{
    top               : 50%;
    z-index           : 1337;
    text-align        : center;
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
    margin            : 0 10px;
}

/* FOOTER END */
